In [3]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
%matplotlib notebook

# File to Load (Remember to Change These)
athlete_bio = Path("data/Olympic_Athlete_Bio.csv")
event_results = Path("data/Olympic_Athlete_Event_Results.csv")
medal_tally = Path("data/Olympic_Games_Medal_Tally.csv")
results = Path("data/Olympic_Results.csv")
country = Path("data/Olympics_Country.csv")
games = Path("data/Olympics_Games.csv")

# Read School and Student Data File and store into Pandas DataFrames
bio_data = pd.read_csv(athlete_bio)
event_results_data = pd.read_csv(event_results)
medal_tally_data = pd.read_csv(medal_tally)
results_data = pd.read_csv(results)
country_data = pd.read_csv(country)
games_data = pd.read_csv(games)

In [6]:
bio_data.head()

,athlete_id,name,sex,born,height,weight,country,country_noc
0,65649,Ivanka Bonova,Female,4-Apr-49,166.0,55,Bulgaria,BUL
1,112510,Nataliya Uryadova,Female,15-Mar-77,184.0,70,Russian Federation,RUS
2,114973,Essa Ismail Rashed,Male,14-Dec-86,165.0,55,Qatar,QAT
3,30359,Péter Boros,Male,12-Jan-08,NaN,NaN,Hungary,HUN
4,50557,Rudolf Piowatý,Male,28-Apr-00,NaN,NaN,Czechoslovakia,TCH

In [8]:
bio_data.nunique()

athlete_id     155861
name           152747
sex                 2
born            41780
height             95
weight            576
country           707
country_noc       232
dtype: int64

In [7]:
count = bio_data["sex"].value_counts()
count

sex
Male      115527
Female     40334
Name: count, dtype: int64